@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;


.text-2xl.font-semibold.mt-10 {
  letter-spacing: 1px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-xl.ml-3.font-semibold {
    letter-spacing: 1px;
}

.new-note-button:hover {
    background-color: #5500FF !important;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}