@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;


.text-2xl.font-semibold.mt-10 {
  letter-spacing: 1px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-xl.ml-3.font-semibold {
    letter-spacing: 1px;
}

.new-note-button:hover {
    background-color: #5500FF !important;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.notecard {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.notecard:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.invite {
    background-color: #5500FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.invite:hover {
    background-color: #4400CC !important;
    color: white !important;
}

.linkcontainer {
    background: rgba(217, 217, 217, 0.40);
}

.copy:hover {
    color: #1A56EB !important;
    background-color: rgba(0, 0, 0, 0) !important;
}